<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>A Propos</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Breadcrumb Wrapper start -->
    <div class="rle_pagetitle_wrapper rle_toppadder40 rle_bottompadder40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page_title">
                        <h2>Contact us</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="#">A propos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Item Details Wrapper start -->
    <div class="rle_itemdetails_wrapper style_2 rle_toppadder100 rle_bottompadder40">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="rle_itemdetails_info">
                        <h3 class="rle_bottompadder30">Established in 1997 by prominent Real Estate Alpha Housing Ltd is leading apartment specialist.</h3>
                        <p>Flashback to the Auckland apartment market is virtually non-existent, a 228 apartments in eight buildings. Today City Sales has played a key role establishing the apartment market as a great choice for investors, first home buyers and anyone interested in affordable real estate. Currently holding a database of 26,000 apartments across.</p>
                        <p>Located on Auckland’s iconic Karangahape Road (K’ Road to the locals), City Sales has earned its reputation by covering all facets of the Auckland apartment scene including rentals and property management across the CBD.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="rle_itemdetails_info">
                        <img src="/images/content/item_detail2.jpg" alt="Item" title="Home" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Wrapper start -->
    <div class="rle_team_wrapper rle_toppadder100 rle_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="rle_center_heading rle_bottompadder60">
                        <h1>Awesome agent</h1>
                        <p>Listing agents list client homes and negotiate the best possible price</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="rle_team_box">
                        <img src="/images/content/team1.jpg">
                        <div class="rle_team_box_info">
                            <h4>Michael Griffith</h4>
                            <p>Businessman</p>
                        </div>
                        <div class="rle_team_box_open">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> (012) 345 6895 - (015) 268 2146</p>
                            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> hicks@realestate.com</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="rle_team_box">
                        <img src="/images/content/team2.jpg">
                        <div class="rle_team_box_info">
                            <h4>maria potine</h4>
                            <p>businesswomen</p>
                        </div>
                        <div class="rle_team_box_open">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> (012) 345 6895 - (015) 268 2146</p>
                            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> hicks@realestate.com</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="rle_team_box">
                        <img src="/images/content/team3.jpg">
                        <div class="rle_team_box_info">
                            <h4>Stanley Payne</h4>
                            <p>Businessman</p>
                        </div>
                        <div class="rle_team_box_open">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> (012) 345 6895 - (015) 268 2146</p>
                            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> hicks@realestate.com</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="rle_team_box">
                        <img src="/images/content/team4.jpg">
                        <div class="rle_team_box_info">
                            <h4>Elmer Hubbard</h4>
                            <p>Businessman</p>
                        </div>
                        <div class="rle_team_box_open">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> (012) 345 6895 - (015) 268 2146</p>
                            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> hicks@realestate.com</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- People Saying Wrapper start -->
    <div class="rle_people_saying_wrapper2 rle_toppadder100 rle_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="rle_center_heading rle_bottompadder60">
                        <h1>What people saying</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                    </div>
                </div>
                <div class="rle_people_saying_slider">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">

                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-780px, 0px, 0px); transition: all 0s ease 0s; width: 3120px;"><div class="owl-item cloned" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client3.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>We chose Alpha Housing to sell property after doing an internet search for real estate agents. They contacted me quickly and were friendly, helpful and honest. </p>
                                    <h4>Jennifer Slaney, <span>New York</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client1.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>Thank you Alpha Housing for providing me with your wealth of knowledge in putting together a go-to-market strategy and selling the house in just two days! </p>
                                    <h4>Vernon Cook, <span>San Francisco</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client4.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>I just wanted to thank you for all the extras you to the "Alpha Housing" title. As far as we're concerned that title doesn't fit you at all, you're way more than that!!!  </p>
                                    <h4>Virginia Burmeister, <span> Los Angeles</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="images/content/client5.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>After having my home on the market for six months and not receiving any offers, I decided to switch my home sale over to Alpha Housing had done.</p>
                                    <h4>Rachel Briggs, <span>San Diego</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client3.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="images/icon/quote.png" alt="" title="">
                                    <p>We chose Alpha Housing to sell property after doing an internet search for real estate agents. They contacted me quickly and were friendly, helpful and honest. </p>
                                    <h4>Jennifer Slaney, <span>New York</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client1.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>Thank you Alpha Housing for providing me with your wealth of knowledge in putting together a go-to-market strategy and selling the house in just two days! </p>
                                    <h4>Vernon Cook, <span>San Francisco</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client4.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>I just wanted to thank you for all the extras you to the "Alpha Housing" title. As far as we're concerned that title doesn't fit you at all, you're way more than that!!!  </p>
                                    <h4>Virginia Burmeister, <span> Los Angeles</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client5.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>After having my home on the market for six months and not receiving any offers, I decided to switch my home sale over to Alpha Housing had done.</p>
                                    <h4>Rachel Briggs, <span>San Diego</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client3.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>We chose Alpha Housing to sell property after doing an internet search for real estate agents. They contacted me quickly and were friendly, helpful and honest. </p>
                                    <h4>Jennifer Slaney, <span>New York</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client1.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="images/icon/quote.png" alt="" title="">
                                    <p>Thank you Alpha Housing for providing me with your wealth of knowledge in putting together a go-to-market strategy and selling the house in just two days! </p>
                                    <h4>Vernon Cook, <span>San Francisco</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client4.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>I just wanted to thank you for all the extras you to the "Alpha Housing" title. As far as we're concerned that title doesn't fit you at all, you're way more than that!!!  </p>
                                    <h4>Virginia Burmeister, <span> Los Angeles</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client5.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>After having my home on the market for six months and not receiving any offers, I decided to switch my home sale over to Alpha Housing had done.</p>
                                    <h4>Rachel Briggs, <span>San Diego</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client3.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>We chose Alpha Housing to sell property after doing an internet search for real estate agents. They contacted me quickly and were friendly, helpful and honest. </p>
                                    <h4>Jennifer Slaney, <span>New York</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client1.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>Thank you Alpha Housing for providing me with your wealth of knowledge in putting together a go-to-market strategy and selling the house in just two days! </p>
                                    <h4>Vernon Cook, <span>San Francisco</span></h4>
                                </div>
                            </div>
                        </div></div><div class="owl-item cloned" style="width: 360px; margin-right: 30px;"><div class="item">
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client4.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>I just wanted to thank you for all the extras you to the "Alpha Housing" title. As far as we're concerned that title doesn't fit you at all, you're way more than that!!!  </p>
                                    <h4>Virginia Burmeister, <span> Los Angeles</span></h4>
                                </div>
                            </div>
                            <div class="rle_peoplesay_slider_details">
                                <div class="rle_peoplesay_slider_details_img">
                                    <img src="/images/content/client5.png" alt="" title="">
                                </div>
                                <div class="rle_peoplesay_slider_details_text">
                                    <img src="/images/icon/quote.png" alt="" title="">
                                    <p>After having my home on the market for six months and not receiving any offers, I decided to switch my home sale over to Alpha Housing had done.</p>
                                    <h4>Rachel Briggs, <span>San Diego</span></h4>
                                </div>
                            </div>
                        </div></div></div></div><div class="owl-nav"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>