<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Register</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Breadcrumb Wrapper start -->
    <div class="rle_pagetitle_wrapper rle_toppadder40 rle_bottompadder40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page_title">
                        <h2>Register</h2>
                    </div>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Acceuil</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Item Details Wrapper start -->
    <div class="rle_itemdetails_wrapper style_2 rle_toppadder100 rle_bottompadder40">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="rle_bottompadder30">Create an account and get unlimeted access to Properties.</h3>
                            <form class="form-group" action="/register" method="post">
                                <input type="text" placeholder="Nom" name="nom" required>
                                <input type="text" placeholder="Prenom" name="prenom" required>
                                <input type="text" placeholder="Username" name="username" required>
                                <input type="text" placeholder="Password" name="password" required>
                                <input type="text" placeholder="Email" name="email" required>
                                <input type="text" placeholder="Telephone" name="telephone" required>
                                <input type="text" placeholder="Societe" name="societe" required>
                                <input type="password" placeholder="Password" name="password" required>
                                <div class="rle_checkbox">
                                    <input type="radio" id="user_login" name="user_type" value="user" checked>
                                    <label for="user_login">User</label>&nbsp;&nbsp;
                                    <input type="radio" id="agent_login" name="user_type" value="agent">
                                    <label for="agent_login">Agent</label>
                                </div>
                                <p class="clearfix"></p>
                                <div class="rle_checkbox">
                                    <input type="checkbox" id="remember_me" checked>
                                    <label for="remember_me">Remember me</label>
                                </div>
                                <a href="" class="forgot_pswd">forgot password?</a>
                                <button type="submit" class="rle_btn">sign in</button>
                                <span>or</span>
                                <a href="#" class="share_btn fcbk_clr_1"><i class="fa fa-facebook" aria-hidden="true"></i>login with facebook</a>
                                <a href="#" class="share_btn ggl_clr_2"><i class="fa fa-google-plus" aria-hidden="true"></i>login with google plus</a>
                            </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="rle_itemdetails_info">
                        <img src="images/content/item_detail2.jpg" alt="Item" title="Home" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>